@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "tormenta";
  src: url("./Tormenta.ttf");
}
@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 25px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}